.uploader {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  position: relative; }
  .uploader input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }

.remove-cursor {
  cursor: pointer; }

.remove-icon-position {
  position: relative;
  top: 0.1em; }
  .remove-icon-position path {
    pointer-events: none; }

.no-dots {
  list-style-type: none; }

/*# sourceMappingURL=uploader.css.map */
