.dot {
  height: 2rem;
  width: 2rem;
  margin: .3rem;
  background-color: #e3e3e3;
  border-radius: 50%;
  line-height: 2rem;
  text-align: center;
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
