@import '../../../variables';

.dot {
  height: 2rem;
  width: 2rem;
  margin: .3rem;
  background-color: $grey;
  border-radius: 50%;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
}