.bd-color:nth-child(even) {
  background: #f5f5f5;
}

.button-size {
  height: 2.5rem;
}

.input-size {
  width: 3rem;
}

.comment-size{
  height: 3rem;
}

.question-answer-size{
  height: 6rem;
}

h5{
  margin-left: 1rem;
}
