.loading {
  width: 4rem;
  height: 4rem;
  margin: auto;
  border: 1rem solid #e3e3e3;
  border-radius: 50%;
  border-top: 1rem solid #1E90FF;
  animation: load 2s linear infinite; }

@keyframes load {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
